<footer>
  <div id="topContainer">
    <a href="#"><h1>Mint Condition Tattoo</h1></a>
    <a href="#">909-982-5347</a>
  </div>
  <div id="bottomContainer">
    <a href="#"><p>©2018 by www.mintconditiontattoo.com</p></a>
    <p>All violators will be shot, survivors will be shot twice.</p>
  </div>
</footer>
<script>
  // Initialize and add the map
  function initMap() {
  // The location of Uluru
  var uluru = {lat: 34.100399, lng: -117.669418};
  // The map, centered at Uluru
  var map = new google.maps.Map(
    document.getElementById('map'), {zoom: 16, center: uluru});
  // The marker, positioned at Uluru
  var marker = new google.maps.Marker({position: uluru, map: map});
  }
</script>
<script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD6-kYu9JuqI4I49Y9q6g8xGNa-w9J4QzA&callback=initMap">
</script>
<script type='text/javascript' src='/js/jquery.js'></script>
<script type="text/javascript" src="./js/smoothScroll.js"></script>
<script type="text/javascript" src="./js/index.js">
</script>
</body>
</html>
