<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Mint Condition Tattoo & Piercing</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="../img/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../img/favicon-16x16.png">
    <link rel="manifest" href="../img/site.webmanifest">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <!-- End favicon -->
    <link href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700|Playball&display=swap" rel="stylesheet">
    <link href="/css/hamburger.css" rel="stylesheet" type="text/css" />
    <link href="/css/reset.css" rel="stylesheet" type="text/css" />
    <link href="/css/main.min.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <header>
      <nav>
        <div id="navContainer">
          <div id="navLogo">
            <a href="/"><img src="./img/logo.png" alt="Mint Condition Tattoo & Piercing"></a>
          </div>
          <div id="navUl">
            <ul>
              <li>
                <a href="#landingSection">Home</a>
              </li>
              <li>
                <a href="#tattooSection">Tattoos</a>
              </li>
              <li>
                <a href="#piercingSection">Piercings</a>
              </li>
              <li>
                <a href="#contactSection">Contact</a>
              </li>
              <li>
                <a href="#mapSection">Location</a>
              </li>
            </ul>
          </div>
          <button class="hamburger hamburger--squeeze" type="button">
            <span class="hamburger-box">
              <span class="hamburger-inner"></span>
            </span>
          </button>
          <div id="mobileNav">
            <ul>
              <li>
                <a href="#landingSection">Home</a>
              </li>
              <li>
                <a href="#tattooSection">Tattoos</a>
              </li>
              <li>
                <a href="#piercingSection">Piercings</a>
              </li>
              <li>
                <a href="#contactSection">Contact</a>
              </li>
              <li>
                <a onclick="navigate(4.100399,-117.669418)">Location</a>
              </li>
            </ul>
          </div>

        </div>
      </nav>
    </header>
