<% include ./partials/header %>
<section id="landingSection">
  <div id="heroBox">
    <h1>MINT CONDITION TATOO & PIERCING</h1>
    <h2>WALK- IN'S WELCOME</h2>
    <h3>560 N. Mountain Ave. Suite E Upland, CA 91786</h3>
  </div>
</section>
<section id="tattooSection">
  <div class="sectionHeader">
    <h1>Find your artist</h1>
  </div>
  <div id="artistContainer">
    <div class="artistCard">
      <div class="cardImage" style="background: url('../img/john.jpg');background-position: center; background-size: cover;">
      </div>
      <div class="cardHeader">
        <div class="cardLink">
          <h1>John</h1>
          <a href="#"><i class="fab fa-instagram"></i> View Portfoio</a>
        </div>

      </div>
    </div>
    <div class="artistCard">
      <div class="cardImage" style="background: url('../img/mike.jpg');background-position: center; background-size: cover;">
      </div>
      <div class="cardHeader">
        <div class="cardLink">
          <h1>Mike</h1>
          <a href="#"><i class="fab fa-instagram"></i> View Portfoio</a>
        </div>

      </div>
    </div>
    <div class="artistCard">
      <div class="cardImage" style="background: url('../img/gabe.jpg');background-position: center; background-size: cover;">
      </div>
      <div class="cardHeader">
        <div class="cardLink">
          <h1>Gabe</h1>
          <a href="#"><i class="fab fa-instagram"></i> View Portfoio</a>
        </div>
      </div>
    </div>
    <div class="artistCard">
      <div class="cardImage" style="background: url('../img/herman.jpg');background-position: center; background-size: cover;">
      </div>
      <div class="cardHeader">
        <div class="cardLink">
          <h1>Herman</h1>
          <a href="#"><i class="fab fa-instagram"></i> View Portfoio</a>
        </div>

      </div>
    </div>
  </div>
  <hr>
</section>
<section id="piercingSection">
  <div class="sectionHeader">
    <h1>You have it, We pierce it.</h1>
    <h2>Exceptional service everytime.</h2>
  </div>
  <div id="piercingContainer">
    <div id="piercingImage" style="background: url('../img/piercing.jpg');background-position: center; background-size: cover;">
    </div>
    <div id="piercingArtistContainer">
      <div class="piercingArtistRow">
        <div class="piercingArtistImage" style="background: url('../img/jacky.jpg');background-position: center; background-size: cover;">
        </div>
        <div class="piercingArtistLink">
          <h1>JACKY</h1>
          <a href="#"><i class="fab fa-instagram"></i> View Portfoio</a>
        </div>
      </div>
      <div class="piercingArtistRow">
        <div class="piercingArtistImage" style="background: url('../img/sydney.jpg');background-position: center; background-size: cover;">
        </div>
        <div class="piercingArtistLink">
          <h1>SYDNEY</h1>
          <a href="#"><i class="fab fa-instagram"></i> View Portfoio</a>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="contactSection">
  <div id="contactHeroBox">
    <h1>Come Visit</h1>
    <a href="#">909-982-5347</a>
    <a href="#">560 N Mountain Ave Suite E Upland, Ca 91786</a>
    <h2>Monday - Sunday</h2>
    <h3>12pm - 9pm</h3>
  </div>
</section>
<section id="mapSection" class="clearfix">
    <div id="map" class="clearfix">
    </div>
</section>
<% include ./partials/footer %>
