*{
  font-size: 18px;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  font-family: 'Lato', sans-serif;
  overflow-y: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='0' x2='0' y1='0' y2='100%25' gradientTransform='rotate(118,639,309)'%3E%3Cstop offset='0' stop-color='%23ffffff'/%3E%3Cstop offset='1' stop-color='%23f4f4f4'/%3E%3C/linearGradient%3E%3Cpattern patternUnits='userSpaceOnUse' id='b' width='844' height='703.3' x='0' y='0' viewBox='0 0 1080 900'%3E%3Cg fill-opacity='0.03'%3E%3Cpolygon fill='%23444' points='90 150 0 300 180 300'/%3E%3Cpolygon points='90 150 180 0 0 0'/%3E%3Cpolygon fill='%23AAA' points='270 150 360 0 180 0'/%3E%3Cpolygon fill='%23DDD' points='450 150 360 300 540 300'/%3E%3Cpolygon fill='%23999' points='450 150 540 0 360 0'/%3E%3Cpolygon points='630 150 540 300 720 300'/%3E%3Cpolygon fill='%23DDD' points='630 150 720 0 540 0'/%3E%3Cpolygon fill='%23444' points='810 150 720 300 900 300'/%3E%3Cpolygon fill='%23FFF' points='810 150 900 0 720 0'/%3E%3Cpolygon fill='%23DDD' points='990 150 900 300 1080 300'/%3E%3Cpolygon fill='%23444' points='990 150 1080 0 900 0'/%3E%3Cpolygon fill='%23DDD' points='90 450 0 600 180 600'/%3E%3Cpolygon points='90 450 180 300 0 300'/%3E%3Cpolygon fill='%23666' points='270 450 180 600 360 600'/%3E%3Cpolygon fill='%23AAA' points='270 450 360 300 180 300'/%3E%3Cpolygon fill='%23DDD' points='450 450 360 600 540 600'/%3E%3Cpolygon fill='%23999' points='450 450 540 300 360 300'/%3E%3Cpolygon fill='%23999' points='630 450 540 600 720 600'/%3E%3Cpolygon fill='%23FFF' points='630 450 720 300 540 300'/%3E%3Cpolygon points='810 450 720 600 900 600'/%3E%3Cpolygon fill='%23DDD' points='810 450 900 300 720 300'/%3E%3Cpolygon fill='%23AAA' points='990 450 900 600 1080 600'/%3E%3Cpolygon fill='%23444' points='990 450 1080 300 900 300'/%3E%3Cpolygon fill='%23222' points='90 750 0 900 180 900'/%3E%3Cpolygon points='270 750 180 900 360 900'/%3E%3Cpolygon fill='%23DDD' points='270 750 360 600 180 600'/%3E%3Cpolygon points='450 750 540 600 360 600'/%3E%3Cpolygon points='630 750 540 900 720 900'/%3E%3Cpolygon fill='%23444' points='630 750 720 600 540 600'/%3E%3Cpolygon fill='%23AAA' points='810 750 720 900 900 900'/%3E%3Cpolygon fill='%23666' points='810 750 900 600 720 600'/%3E%3Cpolygon fill='%23999' points='990 750 900 900 1080 900'/%3E%3Cpolygon fill='%23999' points='180 0 90 150 270 150'/%3E%3Cpolygon fill='%23444' points='360 0 270 150 450 150'/%3E%3Cpolygon fill='%23FFF' points='540 0 450 150 630 150'/%3E%3Cpolygon points='900 0 810 150 990 150'/%3E%3Cpolygon fill='%23222' points='0 300 -90 450 90 450'/%3E%3Cpolygon fill='%23FFF' points='0 300 90 150 -90 150'/%3E%3Cpolygon fill='%23FFF' points='180 300 90 450 270 450'/%3E%3Cpolygon fill='%23666' points='180 300 270 150 90 150'/%3E%3Cpolygon fill='%23222' points='360 300 270 450 450 450'/%3E%3Cpolygon fill='%23FFF' points='360 300 450 150 270 150'/%3E%3Cpolygon fill='%23444' points='540 300 450 450 630 450'/%3E%3Cpolygon fill='%23222' points='540 300 630 150 450 150'/%3E%3Cpolygon fill='%23AAA' points='720 300 630 450 810 450'/%3E%3Cpolygon fill='%23666' points='720 300 810 150 630 150'/%3E%3Cpolygon fill='%23FFF' points='900 300 810 450 990 450'/%3E%3Cpolygon fill='%23999' points='900 300 990 150 810 150'/%3E%3Cpolygon points='0 600 -90 750 90 750'/%3E%3Cpolygon fill='%23666' points='0 600 90 450 -90 450'/%3E%3Cpolygon fill='%23AAA' points='180 600 90 750 270 750'/%3E%3Cpolygon fill='%23444' points='180 600 270 450 90 450'/%3E%3Cpolygon fill='%23444' points='360 600 270 750 450 750'/%3E%3Cpolygon fill='%23999' points='360 600 450 450 270 450'/%3E%3Cpolygon fill='%23666' points='540 600 630 450 450 450'/%3E%3Cpolygon fill='%23222' points='720 600 630 750 810 750'/%3E%3Cpolygon fill='%23FFF' points='900 600 810 750 990 750'/%3E%3Cpolygon fill='%23222' points='900 600 990 450 810 450'/%3E%3Cpolygon fill='%23DDD' points='0 900 90 750 -90 750'/%3E%3Cpolygon fill='%23444' points='180 900 270 750 90 750'/%3E%3Cpolygon fill='%23FFF' points='360 900 450 750 270 750'/%3E%3Cpolygon fill='%23AAA' points='540 900 630 750 450 750'/%3E%3Cpolygon fill='%23FFF' points='720 900 810 750 630 750'/%3E%3Cpolygon fill='%23222' points='900 900 990 750 810 750'/%3E%3Cpolygon fill='%23222' points='1080 300 990 450 1170 450'/%3E%3Cpolygon fill='%23FFF' points='1080 300 1170 150 990 150'/%3E%3Cpolygon points='1080 600 990 750 1170 750'/%3E%3Cpolygon fill='%23666' points='1080 600 1170 450 990 450'/%3E%3Cpolygon fill='%23DDD' points='1080 900 1170 750 990 750'/%3E%3C/g%3E%3C/pattern%3E%3C/defs%3E%3Crect x='0' y='0' fill='url(%23a)' width='100%25' height='100%25'/%3E%3Crect x='0' y='0' fill='url(%23b)' width='100%25' height='100%25'/%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
  /* overflow: hidden; */
}
body::-webkit-scrollbar { /* WebKit */
    width: 0;
    height: 0;
    position: relative;

}
a{
  text-decoration: none;
  color:#000;
  cursor: pointer!important;
}
nav{
  height: 100px;
  width: 100%;
  position: absolute;
  top: 0;
  left:0;
  right: 0;
  z-index: 10;
}
#navContainer{
  width: 100%;
  height: 100%;
  display: flex;
  padding-right: 5px;
  justify-content: flex-end;
}
#navLogo{
  margin-left: 15px;
  width: 30%;
}
#navLogo img{
  width: 50%;
  height: 100%;
}
#navUl{
  width: 45%;
  height: 100%;
  padding-right: 20px;
}
#navUl ul{
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  opacity: 0;
  position: relative;
  top: -25px;
}
#navUl ul li{
  color: #FFF;
  font-size: 1.2rem;
  cursor: pointer!important;
  font-family: 'Lato', sans-serif;
}
#navUl ul li a{
  color: #FFF;
  transition: all .35s ease;
}
#navUl ul li a:hover{
  color: grey;
}
.hamburger{
  display: none;
}
#mobileNav{
  display: none;
  width: 100%;
  height: 0px;
  background-color: #F9FAF6;
  position: absolute;
  top:0;
  left: 0;
  right: 0;
  align-items: center;
  justify-content: flex-end;
  opacity: 0;
  transition: height .5s ease-in-out,
            opacity .65s ease-in-out;
  z-index: 100;
}
#mobileNav ul{
  height: 70%;
  margin-right: 20px;
  display: flex;
  align-self: flex-end;
  flex-direction: column;
  justify-content: space-evenly;
  list-style: none;
  padding: unset!important;
  margin-bottom: 3rem;
}
#mobileNav ul li a{
  font-size: 1.5rem;
}
#landingSection{
  height: 100vh;
  width: 100%;
  background: #FFF;
  background: linear-gradient(rgba(0, 0, 0, .15), #000), url('../img/landingBack.jpg');
  background-size: cover;
  background-position: center;
  background-attachment:fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 9;
}
#heroBox{
  width:100%;
  height: 250px;
  position: relative;
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: skewY(6deg);
  overflow: hidden;
}

#heroBox h1, #heroBox h2, #heroBox h3{
  color: #FFF;
}
#heroBox h1{
  font-size: 2.5rem;
  padding-bottom: 10px;
  position: relative;
  left: -25px;
  opacity: 0;
}
#heroBox h2{
  font-size: 1.5rem;
  padding-bottom: 5px;
  position: relative;
  bottom: -25px;
  opacity: 0;
}
#heroBox h3{
  font-size: 1.15rem;
  position: relative;
  right: -25px;
  opacity: 0;
}
#tattooSection, #piercingSection{
  height: 110vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#artistContainer, #piercingContainer{
  height: 65%;
  width: 85%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.sectionHeader{
  height: 20%;
  width: 100%;
  text-align: center;
  margin-bottom: 2rem;
}
.sectionHeader h1{
  font-size: 2rem;
  padding-top: 4rem;
}
hr{
  height: 3px;
width: 50%;
display: flex;
margin: 5rem 0 0 0;
flex-direction: column;
justify-self: flex-end;
}
.artistCard{
  height: 85%;
  width:23%;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  background: #FFF;
  position: relative;
  bottom: -25px;
  opacity: 0;
  cursor: pointer;
  transition: .35s ease-in-out;
}
.artistCard:nth-of-type(even){
  align-self: flex-end;
}
.artistCard:hover .cardImage{
  opacity: 1;
}
.cardImage{
  height: 100%;
  width: 100%;
  transition: .35s ease-in-out;

}
.cardHeader{
  height: 25%;
  width: 100%;
}
.cardName{
  height: 10%;
  width: 100%;
  text-align: center;
}
h1{
  padding: 10px 0;
  font-size: 1.15rem;
}
.cardLink {
  height: 100%;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 15px;
  font-size: 1.2rem;
  background: #de9f42;
  }
#piercingContainer{
background: #e9d7a5;
flex-direction: row;
overflow: hidden;
}
#piercingImage{
  width: 50%;
  height: 100%;
  transform: translate(0, -100%);
  transition: .35s ease-in-out;
}
#piercingArtistContainer{
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.piercingArtistRow{
  width: 100%;
  height: 50%;
}
.piercingArtistRow{
  display: flex;
}
.piercingArtistRow:last-of-type{
  flex-direction: row-reverse;
}
.piercingArtistImage{
  width: 50%;
  height: 100%;
  opacity: 0;
  transform: translate(-100%, 0);
  transition: all .35s ease;
}
.piercingArtistImage.two{
  transform: translate(100%, 0);

}
.piercingArtistLink{
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.piercingArtistLink h1,
.piercingArtistLink a{
  opacity: 0;
}
.piercingArtistLink h1{
  transform: translate(0, -100%);

}
.piercingArtistLink a{
  transform: translate(0, 100%);
}
#contactSection{
  height: 45vh;
  width: 100%;
  background: #f4f4f4;
  display: flex;
  align-items: center;
  justify-content: center;
}
#contactHeroBox{
  text-align: center;
  height: 50%;
  width: auto;
  justify-content: space-around;
}
#contactHeroBox h1{
  font-size: 2.35rem;
  padding-bottom: 15px;
}
#contactHeroBox a{
  font-size: 1.15rem;
  display: block;
  padding-bottom: 5px;
}
#contactHeroBox a:last-of-type{
  padding-bottom: 10px;
}
#contactHeroBox h2{
  font-size: 1.15rem;
}
#contactHeroBox h3{
  font-size: 1.05rem;
}
#mapSection{
  height: 75vh;
  width: 100%;
}
#map{height: 100%;
width: 100%;}
footer{
  height: 200px;
  width: 100%;
  background: #f4f4f4;
}
footer #topContainer, footer #bottomContainer{
width: 100%;
text-align: center;
height: 50%;
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
}
footer #topContainer h1{
  font-size: 1.5rem;
}
footer #topContainer a{
  font-size: 1.15rem;
}
footer #bottomContainer p{
  font-size: .9rem;
  padding-top: 5px;
}
footer #bottomContainer p:last-of-type{
  padding-top: 5px;
}
.bodyOverflow{
  overflow: hidden!important;
  position: relative!important;
}
.active{
  display: flex!important;
  opacity: 1!important;
  z-index: 100!important;
  height: 105vh!important;
}


/* Media Queries */

@media only screen and (min-width: 1280px) and (min-height: 850px){
  #artistContainer, #piercingContainer {
      height: 50%;
      width: 85%;
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
  }
  #artistContainer {
    height: 65%;
  }
  #piercingContainer{
height: 75%;
  }
  #piercingSection {
      justify-content: space-around;
      flex-direction: column;
  }
  .sectionHeader {
      margin-bottom: 0;
  }
  #landingSection {
    transform: skewY(-9deg);
  }
  #heroBox {
      transform: skewY(10deg);
    }
    hr {
    margin: 7rem 0 0 0;
  }
}
@media only screen and (width: 1024px) and (height: 1366px){
  #heroBox {
    transform: skewY(0deg);
  }
  #navUl {
    width: 70%;
  }
  #artistContainer{
    margin: 0 auto;
    width: 55%;
    flex-direction: column;
  }
  .artistCard {
    height: 250px;
    width: 100%;
    margin: 25px auto;
}
  .artistCard:nth-of-type(even) {
    align-self: unset;
}
  #tattooSection {
    height: auto;
  }
  .cardImage {
    background-size: contain!important;
  }
  #piercingContainer {
    flex-direction: column;
  }
  #piercingContainer {
    width: 65%;
  }
  #piercingImage {
    width: 100%;
  }
  #piercingArtistContainer {
    width: 100%;
  }
  .piercingArtistImage {
    width: 50%;
  }
}
@media only screen and (max-width: 800px){
  #heroBox {
    transform: skewY(0deg);
  }
  #navUl {
    width: 70%;
  }
  #artistContainer{
    margin: 0 auto;
    width: 65%;
    flex-direction: column;
  }
  .artistCard {
    height: 250px;
    width: 100%;
    margin: 25px auto;
}
  .artistCard:nth-of-type(even) {
    align-self: unset;
}
  #tattooSection {
    height: auto;
  }
  .cardImage {
    background-size: contain!important;
  }
  #piercingContainer {
    flex-direction: column;
  }
  #artistContainer, #piercingContainer {
    width: 75%;
  }
  #piercingImage {
    width: 100%;
  }
  #piercingArtistContainer {
    width: 100%;
  }
  .piercingArtistImage {
    width: 50%;
  }
}
@media only screen and (max-width: 600px){
  #navUl {
    display: none;
  }
  .mobileNav{
    display: flex;
  }
  .hamburger{
    display: flex;
    width: 100%;
    align-items: flex-end;
    justify-content: flex-end;
    }
  #navContainer {
    width: 100%;
  }
  #navLogo {
  display: none;
  }
  .hamburger-inner, .hamburger-inner::after, .hamburger-inner::before {
    background-color: #FFF;
  }
  #landingSection {
    transform: skewY(-16deg);
}
  #heroBox {
    width: 90%;
    transform: skewY(16deg);
  }
  #heroBox h1 {
    font-size: 1.65rem;
    text-align: center;
  }
  #heroBox h2 {
    font-size: 1.05rem;
  }
  #heroBox h3 {
    font-size: .95rem;
    width: 90%;
    text-align: center;
  }
  #tattooSection{
    height: auto;
  }
  #artistContainer {
      width: 90%;
      height: auto;
      align-items: center;
      justify-content: center;
      flex-direction: column;
  }
  .artistCard {
      height: 400px;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-self: center;
      margin: 20px 0;
    }
    .sectionHeader h1 {
      padding: 60px 0 0 0;
      font-size: 1.85rem;
    }
    hr{
      margin-top: 4rem;
    }
    .sectionHeader {
    margin-bottom: 4rem;
  }
    #piercingContainer {
        height: 100%;
        width: 90%;
    }
    #piercingSection .sectionHeader h1{
      font-size: 1.7rem;
    }
    #piercingContainer {
      height: 100%;
      width: 90%;
  }
  #piercingImage {
    width: 100%;
    height: 50%;
  }
  #piercingArtistContainer {
    width: 100%;
    height: 50%;
  }
  #contactSection {
    height: auto;
    padding: 45px 5px;
    }
    #contactHeroBox h1 {
    font-size: 2rem;
  }
  #contactHeroBox a {
    font-size: .95rem;
  }
  #contactHeroBox h2 {
    font-size: 1rem;
  }
  footer #topContainer h1 {
    font-size: 1.25rem;
  }
  footer #topContainer a {
    font-size: 1rem;
  }
  footer #bottomContainer p{
    font-size: .59rem;
    }
    #contactHeroBox a:last-of-type {
    width: 90%;
    text-align: center;
    margin: 0 auto;
    }
}

